!!!
%html
%head
  %title NSPHelper
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand NSPHelper
      %ul.nav.navbar-nav
      %li= link_to "All Tasks", root_path
      - Category.all.each do |category|
        = link_to category.name, tasks_path(category: category.name)

  = yield
